.btn-text{
	text-transform: none;
	font-weight: 500;
}
button{
	margin-left: 5px;
	margin-right: 5px; 
}
.btn-radius {
	border-radius: 4px;
}

.btn-flat.white.orange-text:hover{
	background-color: rgba(255,255,255,0.5);
}

.btn-radius-max{
	border-radius: 20px;
}

#btnNext,#btnBack{
	margin: 5px;
}

.input-button{
	float: left;
	width: 190px !important;
	padding-right: 50px !important;
}

.btn-input{
	background-color: white;
	border: none;
	height: 40px;
	width: 47px;
	float: left;
	margin-left: -50px;
	-webkit-appearance: none;
}

.btn-input:focus{
	background-color: white;
}

.btn-width{
	text-align: center !important;
	width: 100px;
}